@{
    Layout = "_Layout";
}

@if(Model != null)
{
    <h2 class="error">@Model</h2>
}

<form action="/stylists" method="post">
    <label>New Stylist's Name: <input type="text" name="stylist-name"></label>
    <button type="submit">Add Stylist</button>
</form>
